body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightblue; /* Light gray background color */
}
  
.login-container {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* White background color */
}
.login-container:hover {
    border: 2px solid #007bff;/*#007bff #1156b3 */
}
h2{
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333; /* Dark gray label text color */
}
  
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
  
button {
    background-color: #007bff; /* Blue button color */
    color: white;
    margin:  10px 105px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    height: 25px;
}

.error-message{
    color: red;
}